@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;	
}

body{
	font-size:100px;
	color:rgba(255, 255, 255, 1);	
}

nav{
	width:100%;
	box-sizing:border-box;
	padding:10px;
	background:rgba(147, 129, 255, 1);
	text-align:center;
}

.ficon{
	font-size:100px;
	padding:5px;
}

/*--section--*/

section{
	display: flex; /*從三列變三欄*/
	flex-direction: column;
	color: rgba(147, 129, 255, 1);
}

.box{
	width:100%;
	/*min-height:100vh;*/
}

.box:nth-child(1){
	flex: 1; /*設定比例*/
	background:rgba(248, 247, 255, 1);
}

.box:nth-child(2){
	flex: 1; /*設定比例*/
	background: url(../images/pic.jpg) no-repeat left rgba(255, 238, 221, 1);
	background-size:cover;
}

.box:nth-child(3){
	flex: 2; /*設定比例*/
	background:rgba(255, 216, 190, 1);
}

p{
	font-size:32px;
	padding:50px;
}

/*for tablets*/
@media only screen and (min-width: 768px) {
	section{
		width: 100%;
		display:flex;
		flex-direction: row;
	}
	.box:nth-child(1){
		flex:1;
		order: 2; /*調動box順序*/
	}
	.box:nth-child(2){
		flex:1;
		order: 3; /*調動box順序*/
	}
	.box:nth-child(3){
		flex:2;
		order: 1; /*調動box順序*/

	}
}

/*for desktops*/
@media only screen and (min-width: 1200px) {
	
}
